<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVjUcvEza294s7Q8iJ5JvmjrZAocwH17c</string>
	<key>GCM_SENDER_ID</key>
	<string>347011241005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batuhanberkertekin.News-App</string>
	<key>PROJECT_ID</key>
	<string>newsappappcent</string>
	<key>STORAGE_BUCKET</key>
	<string>newsappappcent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347011241005:ios:80fc404bbaf60b56ba94a4</string>
</dict>
</plist>